<%- include ('../Common/Head')-%> <%- include ('../Common/Sidebar')-%>
    <!-- ======== main-wrapper start =========== -->
    <main class="main-wrapper">
      <%- include ('../Common/Navbar')-%>

        <!-- ========== tab components start ========== -->
        <section class="tab-components">
          <div class="container-fluid">
            <!-- ========== title-wrapper start ========== -->
            <div class="title-wrapper pt-30">
              <div class="row align-items-center">
                <div class="col-md-6">
                  <div class="title">
                    <h2>Banner Elements</h2>
                  </div>
                </div>
                <!-- end col -->
                <!-- <div class="col-md-6">
            <div class="breadcrumb-wrapper">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="#0">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item"><a href="#0">Forms</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Form Elements
                  </li>
                </ol>
              </nav>
            </div>
          </div> -->
                <!-- end col -->
              </div>
              <!-- end row -->
            </div>
            <!-- ========== title-wrapper end ========== -->

            <!-- ========== form-elements-wrapper start ========== -->
            <div class="form-elements-wrapper">
              <div class="row">
                <div class="col-lg-6">
                  <!-- input style start -->

                  <div class="card-style mb-30">
                    <h6 class="mb-25">Input Fields</h6>
                    <form method="post" action="/addbanner">
                      <div class="input-style-1">
                        <label>Banner Title</label>
                        <input type="text" name="title" placeholder="Category" />
                      </div>
                      <!-- end input -->
                      <input class="main-btn active-btn rounded-full btn-hover" value="Submit" type="submit" />
                    </form>
                  </div>

                  <!-- end card -->
                  <!-- ======= input style end ======= -->
                </div>
              </div>
              <!-- end row -->
            </div>
            <!-- ========== form-elements-wrapper end ========== -->
          </div>
          <!-- end container -->
        </section>
        <!-- ========== tab components end ========== -->
        <%- include ('../Common/Footer')-%>
    </main>
    <!-- ======== main-wrapper end =========== -->
    <%- include ('../Common/Foot')-%>